<div class="modal-content" style="max-width: 600px;">
    <div class="modal-header">
        <h4>Paiements</h4>
    </div>
    <div class="modal-body">
            <canvas id="payment-chart" data-url="{% url 'payments_categorie_data' %}"></canvas>
    </div>
</div>

<script>
    $(function() {

        var $paymentChart = $("#payment-chart");
        $.ajax({
            url: $paymentChart.data("url"),
            success: function(data) {

                var ctx = $paymentChart[0].getContext("2d");

                new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'Paiements',
                            backgroundColor: [
                                'rgb(255, 99, 132)',
                                'rgb(54, 162, 235)'
                            ],
                            data: data.data,
                             hoverOffset: 4
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Paiement'
                        }
                    }
                });

            }
        });

    });
</script>
