{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Changer le mot de passe{% endblock %}

{% block content %}
<div class="container" style="margin-top: 10%; max-width: 60%;">
    {% with WIDGET_ERROR_CLASS='is-invalid' %}
    <form method="post" class="modal-content">
        {% csrf_token %}
        <!-- <div class="modal-header">
            <h5>Télécharger les données des patients</h5>
        </div> -->
        <!-- display not unique -->
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
            <p>{{ error|escape }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <div class="modal-body row g-3">
            <div class="col-md-12">
                <label for="old_password" class="form-label">Ancien mot de passe * :</label>
                {% render_field form.old_password class="form-control" id="old_password" %}
                <div class="invalid-feedback">{{ form.old_password.errors|first }}</div>
            </div>
            <div class="col-md-12">
                <label for="new_password1" class="form-label">Nouveau mot de passe * :</label>
                {% render_field form.new_password1 class="form-control" id="new_password1" %}
                <div class="invalid-feedback">{{ form.new_password1.errors|first }}</div>
            </div>
            <div class="col-md-12">
                <label for="new_password2" class="form-label">Retapez le nouveau mot de passe * :</label>
                {% render_field form.new_password2 class="form-control" id="new_password2" %}
                <div class="invalid-feedback">{{ form.new_password2.errors|first }}</div>
            </div>
        </div>


        <div class="modal-footer">
            <button type="submit" class="btn btn-success">
                <span style="text-transform: none;">Changer</span>
            </button>
        </div>

    </form>
    {% endwith %}
</div>
{% endblock %}
