{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
<form hx-post="{% url 'add_arret_travail' consultation.id %}" hx-target="#addArretTravail">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
                <p>{{ error|escape }}</p>
                {% endfor %}
            </div>
    {% endif %}
    <div class="modal-body row g-3">
        <div class="col-md-5">
            <div class="row">
                <div class="col-2">
                    <label class="col-form-label">Du :</label>
                </div>
                <div class="col-10">
                    {% render_field form.date1 class="form-control" id="date1" %}
                    <div class="invalid-feedback">{{ form.date1.errors|first }}</div>
                </div>

            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-2">
                    <label class="col-form-label">Au :</label>
                </div>
                <div class="col-10">
                    {% render_field form.date2 class="form-control" id="date2" %}
                    <div class="invalid-feedback">{{ form.date2.errors|first }}</div>
                </div>

            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-floating">
                <i class="fas fa-plus" style="font-size:20px"></i>
            </button>
        </div>
    </div>
</form>
{% endwith %}
<script>
    flatpickr("#date1", {
        locale: "fr",
        minDate: "today",
        enableTime: false,
        dateFormat: "Y-m-d",
        altInput: true,
        altFormat: "l j F Y"
    });
    flatpickr("#date2", {
        locale: "fr",
        minDate: "today",
        enableTime: false,
        dateFormat: "Y-m-d",
        altInput: true,
        altFormat: "l j F Y"
    });

</script>
