{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Ajouter un rendez-vous{% endblock %}

{% block content %}
<div class="container" style="margin-top: 40px;">
    {% with WIDGET_ERROR_CLASS='is-invalid' %}
    <form method="post" class="modal-content">
        {% csrf_token %}
        <!-- hiddin id -->
        {% render_field form.patient_id id="patientId"  %}
        <div class="modal-header">
            <h4>Nouveau rendez-vous</h4>
        </div>
        <!-- display not unique -->
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
            <p>{{ error|escape }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <div class="modal-body row g-3">
            <div class="col-md-6">
                {% render_field form.patient class="form-control" id="patientAppointement"  placeholder="Sélectionner un patient" %}
                <div class="invalid-feedback">{{ form.patient.errors|first }}</div>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-primary" hx-get="{% url 'add_patient_appointement' %}" hx-target="#dialog">
                    <i class="fa-solid fa-user-plus me-2"></i>
                    <span style="text-transform: none; font-size: 16px;">Ajouter un patient</span>
                </button>
            </div>
            <div class="col-md-6">
                <label for="date" class="form-label">Choississez une date * :</label>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text"><i class="far fa-calendar"></i></span>
                    {% render_field form.date class="form-control" id="date" placeholder="Aucune date sélectionnée" %}
                    <div class="invalid-feedback">{{ form.date.errors|first }}</div>
                </div>

            </div>
            <div class="col-md-6">
                <label for="hour" class="form-label">Choississez un temps * :</label>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                    {% render_field form.hour class="form-control" id="hour" placeholder="Aucune heure sélectionnée" %}
                    <div class="invalid-feedback">{{ form.hour.errors|first }}</div>
                </div>
            </div>
        </div>


        <div class="modal-footer">
            <a href="{% url 'appointements' %}" class="btn btn-secondary" style="text-transform: None;">Annuler</a>
            <button type="submit" class="btn btn-primary" style="text-transform: None;">Ajouter</button>
        </div>
    </form>
</div>
{% endwith %}
{% endblock %}
{% block script %}
<script>
    $(function() {
        $("#patientAppointement").autocomplete({
            source: "{% url 'autocomplete_patient' %}",
            focus: function() {
                return false;
            },
            select: function(e, ui) {
                $("#patientAppointement").val(ui.item.label);
                $("#patientId").val(ui.item.value);
                return false;
            }
        });
    });
    // flatpicker code
    flatpickr("#date", {
        locale: "fr",
        minDate: "today",
        enableTime: false,
        dateFormat: "Y-m-d",
        altInput: true,
        altFormat: "l j F Y"
    });
    flatpickr("#hour", {
        locale: "fr",
        enableTime: true,
        dateFormat: "H:i",
        altInput: true,
        altFormat: "H:S",
        noCalendar: true,
    });
</script>
{% endblock %}
