{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Exporter des données{% endblock %}

{% block content %}
<div class="container" style="margin-top: 40px;">
    {% with WIDGET_ERROR_CLASS='is-invalid' %}
    <form method="post" class="modal-content">
        {% csrf_token %}
        <div class="modal-header">
            <h5>Télécharger les données des patients</h5>
        </div>
        <!-- display not unique -->
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
            <p>{{ error|escape }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <div class="modal-body row g-3">
            <div class="col-md-6">
                <label for="date1" class="form-label">Date de début * :</label>
                {% render_field form.date1 class="form-control" id="date1" %}
                <div class="invalid-feedback">{{ form.date1.errors|first }}</div>
            </div>
            <div class="col-md-6">
                <label for="last_name" class="form-label">Date de fin * :</label>
                {% render_field form.date2 class="form-control" id="date2" %}
                <div class="invalid-feedback">{{ form.date2.errors|first }}</div>
            </div>
        </div>


        <div class="modal-footer">
            <button type="submit" class="btn btn-success">
                <span style="text-transform: none;">Télécharger</span>
            </button>
        </div>

    </form>
    {% endwith %}
</div>
{% endblock %}

{% block script %}
<script>
    // flatpicker code
    flatpickr("#date1", {
        locale: "fr",
        maxDate: "today",
        enableTime: false,
        dateFormat: "Y-m-d",
        altInput: true,
        altFormat: "l j F Y"
    });
    flatpickr("#date2", {
        locale: "fr",
        maxDate: "today",
        enableTime: false,
        dateFormat: "Y-m-d",
        altInput: true,
        altFormat: "l j F Y"
    });
</script>
{% endblock %}
